@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  @apply bg-gray-200;
}

header {
  @apply container w-full bg-white mt-4 p-4 lg:rounded-full lg:py-2 shadow-md;
}

input,
select {
  @apply border border-gray-300 rounded px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500;
}

h2 {
  @apply text-gray-500 my-2 font-bold text-xl;
}

h3 {
  @apply text-gray-500 my-2 font-bold text-lg;
}

.menu-desktop {
  @apply w-[250px] h-screen bg-white flex flex-col shadow;
}

.menu-mobile {
  @apply bg-white w-[45px] h-[45px]  flex items-center justify-center mt-4 ml-4 rounded-full shadow;
}

.btn-primary {
  @apply bg-blue-500 hover:bg-blue-600 flex gap-2 items-center text-white font-semibold py-2 px-4 rounded cursor-pointer;
}

.btn-secondary {
  @apply bg-blue-700 hover:bg-blue-600 flex gap-2 items-center text-white font-semibold py-2 px-4 rounded cursor-pointer;
}

.card {
  @apply bg-white w-full md:max-w-[380px] p-4 text-gray-500 rounded-md shadow-md;
}

.card-blue {
  @apply bg-blue-500 w-full md:max-w-[380px] p-4 text-white rounded-md shadow-md;
}

.card-page {
  @apply bg-white w-full p-8 text-gray-500 rounded-md shadow-md;
}

.container {
  @apply w-[90%] mx-auto;
}

.form-login {
  @apply w-full bg-gray-200 flex flex-col gap-2 mx-auto p-8 border border-gray-200 rounded shadow-md md:w-[420px];
}

.background-modal {
  @apply h-screen w-screen bg-black fixed inset-0 z-[999] bg-opacity-60;
}
